.CouponCards {
    overflow-y: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.Cards {
        display: -ms-inline-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
}
